
@{
    ViewBag.Title = "Add User LDAP";
    //Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<script src="~/Scripts/check-password-strength@2.0.10-umd.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#loading').hide();
        $("#btnSave2").click(function () {
            $('#loading').show();
        });
        $("#btnVerifyUser2").click(function () {
            $('#loading').show();
        });

    });




</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
            });
    </script>
}

<style>
    .navbar-inverse {
        background-color: #ff850c;
        border-color: #ff850c;
        min-height: 65px;
    }

        .navbar-inverse .navbar-brand {
            color: #ffffff;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff;
        }

    body {
        background: #ff850c;
        background: -webkit-linear-gradient(to top, #ff850c, #FFD20B);
        background: linear-gradient(to top, #ff850c, #FFD20B);
    }

    html {
        background-color: unset;
    }

    .ldapFont {
        font-size: 20pt;
        font-family: "DBHeaventt-Light";
    }

    @@font-face {
        font-family: 'DBHeaventt-Light';
        src: url('../DBHeaventt-Light.ttf') format('truetype');
        /*src: url('../../fonts/DBHeaventt-Light.ttf') format('truetype');*/
    }

    .center {
        margin: auto;
        padding: 10% 0px 0px 0px;
    }

    .lbcolor {
        color: orange;
    }

    .chkbox_css {
        display: inline;
        margin-top: 0px !important;
    }

    hr {
        border-top: 1px solid orange !important;
    }

    #loading {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
    }

    #loading-image {
        z-index: 100;
    }

    .removeBullet ul {
        list-style-type: none;
    }

    .validatUserLdap {
        font-size: 16px;
        /*float: left;
        margin-left: 69px;*/
        margin-bottom: -14px;
        margin-left: -34px;
    }

    .divscreen {
        width: 90%;
        background-color: white;
        position: absolute;
        height: 228px;
        opacity: 0.48;
    }
</style>
<div id="loading">
    <img id="loading-image" src="~/images/Spinner-5.gif" alt="Loading..." />
</div>

<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<div class="row center-block">
    <div class="col-md-12" style="text-align: -webkit-center;">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-6">
            <div class="wrapper fadeInDown center">
                <div id="formContent" class="ldapFont">
                    <!-- Tabs Titles -->
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="~/images/ghb-logo-new_sign.png" class="login-banner" id="GHB-logo-sign" alt="GHB-logo-sign">
                    </div>
                    @using (Html.BeginForm("AddUserLDAP3", "Account", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        <input type="hidden" name="SOL_CODE" id="SOL_CODE" value="@ViewBag.SOL_CODE" />
                        <div class="">
                            <div class="">

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <span class="ghbFont-color" style="font-size:22px;">Ldap ลงทะเบียน</span>&nbsp;&nbsp;
                                    </div>
                                    <div class="col-sm-12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger validatUserLdap removeBullet loginWrong " })
                                    </div>
                                    <div class="">
                                        <input type="text" class="form-control rounded-lg" id="USER_LOGIN" name="USER_LOGIN" value="@ViewBag.USER_LOGIN" placeholder="Ldap Name">
                                    </div>
                                    <div class="">
                                        <input type="password" class="form-control rounded-lg" id="USER_PASSWORD" name="USER_PASSWORD" value="@ViewBag.USER_PASSWORD" placeholder="Ldap Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if (ViewBag.Flag == true)
                                    {
                                        <button id="btnVerifyUser2" type="submit" class="btn btn-ghb-primary" data-toggle="tooltip" name="cmdButton" title="Verify User" value="VerifyUser" style="max-width: 280px;" disabled>Verify&nbsp;User</button>
                                    }
                                    else
                                    {
                                        <button id="btnVerifyUser2" type="submit" class="btn btn-ghb-primary" data-toggle="tooltip" name="cmdButton" title="Verify User" value="VerifyUser" style="max-width: 280px;">Verify&nbsp;User</button>
                                    }
                                </div>
                            </div>
                            <div id="curtain">
                                <div id="scene" class="divscreen"></div>
                                <div class="row">
                                    <div class="form-group">
                                        <input type="text" class="form-control rounded-lg" id="USER_EMP_CODE" name="USER_EMP_CODE" value="@ViewBag.USER_EMP_CODE" placeholder="Employee Code">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <input type="text" class="form-control rounded-lg" id="USER_FIRSTNAME" name="USER_FIRSTNAME" value="@ViewBag.USER_FIRSTNAME" placeholder="Firstname">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control rounded-lg" id="USER_LASTNAME" name="USER_LASTNAME" value="@ViewBag.USER_LASTNAME" placeholder="Lastname">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <input type="text" class="form-control rounded-lg" id="USER_EMAIL" name="USER_EMAIL" value="@ViewBag.USER_EMAIL" placeholder="Email">
                                    </div>
                                    <div class="form-group" style="display:none;">
                                        @*<label class="ghbFont-color">ระดับ&nbsp;</label>&nbsp;&nbsp;*@
                                        <select name="USER_LEVEL" id="USER_LEVEL" class="form-control w-100 rounded-lg">
                                            @{
                                                <option value="0">โปรดเลือก</option>
                                                if (ViewBag.CurrentRoleList != "")
                                                {
                                                    char[] _spl = new char[] { '|' };
                                                    char[] _spf = new char[] { ',' };
                                                    string[] _arrLine = null;
                                                    string[] _arrField = null;
                                                    string Tmpstr = ViewBag.CurrentRoleList;
                                                    string strSel = Convert.ToString(ViewBag.USER_LEVEL);
                                                    _arrLine = Tmpstr.Split(_spl);
                                                    foreach (string str in _arrLine)
                                                    {
                                                        _arrField = str.Split(_spf);
                                                        if (strSel == _arrField[0].ToString())
                                                        {
                                                            <option selected="selected" value="@(_arrField[0].ToString())">@(_arrField[1].ToString())</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@(_arrField[0].ToString())">@(_arrField[1].ToString())</option>
                                                        }
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @if (ViewBag.Flag == true)
                                        {
                                            <button id="btnSave2" type="submit" class="btn btn-ghb-primary" data-toggle="tooltip" name="cmdButton" title="Save" value="Save" style="max-width: 280px;">SAVE</button>
                                        }
                                        else
                                        {
                                            <button id="btnSave2" type="submit" class="btn btn-ghb-primary" data-toggle="tooltip" name="cmdButton" title="Save" value="Save" style="max-width: 280px;" disabled>SAVE</button>
                                        }
                                        @*<button id="btnCancel" type="submit" class="btn btn-ghb-primary" data-toggle="tooltip" name="cmdButton" title="Cancel" value="Cancel" style="margin-top: 20px;">CANCEL</button>*@

                                    </div>
                                    <div class="col-md-12">
                                        @Html.ActionLink("back to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "font-size:18px;text-decoration: none; color: #ff850c;margin-bottom:20px;" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-3">&nbsp;</div>
    </div>
</div>
