@model GHB_D1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<style>
    body {
        background: #ff850c;
        background: -webkit-linear-gradient(to top, #ff850c, #FFD20B);
        background: linear-gradient(to top, #ff850c, #FFD20B);
    }

    html {
        background-color: unset;
    }

    .forgotFont {
        font-size: 20pt;
        font-family: "DBHeaventt-Light";
    }

    .forgotWrong {
        font-size: 14pt;
        font-family: "DBHeaventt-Light";
        float: left;
        margin-left: 22px;
    }

    @@font-face {
        font-family: 'DBHeaventt-Light';
        src: url('../../fonts/DBHeaventt-Light.ttf') format('truetype');
    }

    .center {
        margin: auto;
        padding: 15% 0px 0px 0px;
    }

    .removeBullet ul {
        list-style-type: none;
    }

    .validatEmail {
        font-size: 21px;
        float: left;
        margin-left: 93px;
    }
</style>
@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Enter your email.</h4>
        <hr />*@
    <div class="wrapper fadeInDown center">
        <div id="formContent" class="regisFont">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/images/ghb-logo-new_sign.png" class="login-banner" id="GHB-logo-sign" alt="GHB-logo-sign">
            </div>
            <div><span class="ghbFont-color">ลืมรหัสผ่าน</span></div>
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="form-group">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "EMAIL", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger validatEmail", Style = "display:block;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-ghb-primary fadeIn fifth" style="background-color: #ff850c;" value="Email Link" />
                </div>
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "font-size:18px;text-decoration: none; color: #ff850c;" })
            </div>
            <br />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
