@model GHB_D1.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}

<style>

    .navbar-inverse {
        background-color: #ff850c;
        border-color: #ff850c;
        min-height: 65px;
    }

        .navbar-inverse .navbar-brand {
            color: #ffffff;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff;
        }

    body {
        /*background: #ff850c;
        background: -webkit-linear-gradient(to top, #ff850c, #FFD20B);
        background: linear-gradient(to top, #ff850c, #FFD20B);*/
    }

    html {
        /*background-color: unset;*/
    }

    .regisFont {
        font-size: 20pt;
        font-family: "DBHeaventt-Light";
    }

    .regisWrong {
        font-size: 14pt;
        font-family: "DBHeaventt-Light";
        float: left;
        margin-left: 22px;
    }

    @@font-face {
        font-family: 'DBHeaventt-Light';
        src: url('../../fonts/DBHeaventt-Light.ttf') format('truetype');
    }

    .center {
        margin: auto;
        padding: 15% 0px 0px 0px;
    }

    .removeBullet ul {
        list-style-type: none;
    }

    .validatEmail {
        font-size: 16px;
        float: left;
        margin-left: 93px;
    }

    .validatUser {
        font-size: 16px;
        float: left;
        margin-left: 69px;
        margin-bottom: -14px;
    }

    .validatUser2 {
        font-size: 16px;
        float: left;
        /*margin-left: 69px;*/
        margin-bottom: -14px;
    }

    .validatPassowrd {
        font-size: 16px;
        float: left;
        margin-left: 93px;
    }

    .validatConfirmPassowrd {
        font-size: 16px;
        float: left;
        margin-left: 93px;
    }
</style>
@*<h2>@ViewBag.Title.</h2>*@
<div class="row">
    <div class="col-2">
        <table>
            <tr>
                <td colspan="2">
                    <h2 class="header-topic" style="color: orange; margin-bottom: 0px;">Administrator</h2>
                    <h5 class="header-topic" style="color: orange; margin-left: 70px; margin-top: 0px;">ADD USER</h5>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <a onclick="history.back()" title="ย้อนกลับ">
        <i class="fa fa-2x fa-chevron-circle-left" aria-hidden="true" style="cursor:pointer;color:orange;" title="กลับสู่หน้าก่อนหน้า"></i>
    </a>
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Create a new account.</h4>
        <hr />*@
    @*<div class="wrapper fadeInDown center">*@
    <div class="">
        <div id="formContent" class="regisFont">
            <!-- Tabs Titles -->
            <!-- Icon -->
            @*<div class="fadeIn first">
            <img src="~/images/ghb-logo-new_sign.png" class="login-banner" id="GHB-logo-sign" alt="GHB-logo-sign">
        </div>*@
            <div><span class="ghbFont-color">ลงทะเบียน</span></div>
            @*@Html.ValidationSummary("", new { @class = "text-danger validatEmail removeBullet loginWrong" })*@
            <div class="form-group">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" }) email *@
                @Html.ValidationSummary(true, "", new { @class = "text-danger validatUser2 removeBullet loginWrong" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Username, new { placeholder = "User Name", @class = "form-control", Style = "font-size: 18px;" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger validatEmail", Style = "display:block;" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" }) email *@
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control", Style = "font-size: 18px;" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger validatEmail", Style = "display:block;" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" }) password *@
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", Style = "font-size: 18px;" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger validatPassowrd", Style = "display:block;" })

                </div>

            </div>

            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" }) confirm password *@
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control", Style = "font-size: 18px;" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger validatConfirmPassowrd", Style = "display:block;" })

                </div>

            </div>
            <div class="form-group">
             
                <div class="col-md-6">
                    <div id="check_password"></div>
                </div>
                <div class="col-md-6">
                   
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" id="btnRegister" class="btn btn-ghb-primary fadeIn fifth" style="background-color: #ff850c;" value="Register" />
                    @Html.ActionLink("Cancel", "MainUser", "Administrator", routeValues: null, htmlAttributes: new { id = "loginLink", style = "font-size:18px;text-decoration: none; color: #ff850c;" })
                </div>

            </div>

        </div>
    </div>
}

@section Scripts {
    
    <script src="~/Scripts/check-password-strength@2.0.10-umd.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("Password").onkeyup = function () { FunctionPassStrength() };
            document.getElementById("ConfirmPassword").onkeyup = function () { FunctionEqualPassStrength() };
        });
        function FunctionPassStrength() {
            let str = "Strength Password : ";
            let val = document.getElementById("Password");
            document.getElementById("ConfirmPassword").value = "";
            const PasswordStrength = checkPasswordStrength.passwordStrength(val.value).value; // 'Weak'
            if (val.value.length < 6) {
                document.getElementById("check_password").innerHTML = "";
                document.getElementById("check_password").innerHTML = "<b style='color:red'>Enter a password of <span style='font-size:35px'>more than 6 characters</span></b>";
                document.getElementById("btnRegister").disabled = true;

            }
            else {
                if (PasswordStrength === "Weak") {
                    document.getElementById("check_password").innerHTML = "";
                    document.getElementById("check_password").innerHTML = "<b style='color:red'>" + str + "<span style='font-size:35px'>Weak</span></b>";
                    document.getElementById("btnRegister").disabled = true;
                    document.getElementById("ConfirmPassword").disabled = true;
                }
                else if (PasswordStrength === "Medium") {
                    document.getElementById("check_password").innerHTML = "";
                    document.getElementById("check_password").innerHTML = "<b style='color:orange'>" + str + "<span style='font-size:35px'>Medium</span></b>";
                    document.getElementById("btnRegister").disabled = true;
                    document.getElementById("ConfirmPassword").disabled = true;
                }
                else if (PasswordStrength === "Strong") {
                    document.getElementById("check_password").innerHTML = "";
                    document.getElementById("check_password").innerHTML = "<b style='color:green'>" + str + "<span style='font-size:35px'>Strong</span></b>";
                    document.getElementById("btnRegister").disabled = false;
                    document.getElementById("ConfirmPassword").disabled = false;
                }
                else {
                    document.getElementById("check_password").innerHTML = "";
                    document.getElementById("check_password").innerHTML = "<b style='color:red'>" + str + "<span style='font-size:35px'>Weak</span></b>";
                    document.getElementById("btnRegister").disabled = true;
                    document.getElementById("ConfirmPassword").disabled = true;
                }
            }
           
        }
        function FunctionEqualPassStrength() {
         
            let val1 = document.getElementById("Password");
            let val2 = document.getElementById("ConfirmPassword");
            
            if (val1.value === val2.value) {
                document.getElementById("btnRegister").disabled = false;
            }
            else {
                document.getElementById("btnRegister").disabled = true;
            }
        }
    </script>

}
