@model GHB_D1.Models.RDMOnDemandViewModel
@{
    ViewBag.Title = "RDM_ONDEMAND";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}


<script>
    $().ready(function () {
        $("#T_DATE").change(function () {
            let d = $(this).val();
            var b = $("#T_DATE").val();
            $("#displayDate").text(d);
            $("#T_DATE").val(d);
            $("#msg").hide();
        });

        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })
</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
            });
    </script>
}

<style>
    .navbar-inverse {
        background-color: #ff850c;
        border-color: #ff850c;
        min-height: 65px;
    }

        .navbar-inverse .navbar-brand {
            color: #ffffff;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff;
        }

    .lbcolor {
        color: orange;
    }


    hr {
        border-top: 1px solid #ff850c;
        border-width: 5px;
    }
    }
</style>


@using (Html.BeginForm("GenReport", "RDM_ONDEMANDReport", FormMethod.Post, new { autocomplete = "off" }))
{

<div class="row" style="margin-top: 70px;">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
        <h2 class="header-topic" style="color: orange; margin-bottom: 0px;"> @Model.TITLE_REPORT </h2>
        <h5 class="header-topic" style="color: orange; margin-left: 250px; margin-top: 0px;">     REPORTS </h5>
    </div>
    <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 text-right mg-top-10">
        <label class="ghbFont-color lbtext">วันที่&nbsp;</label>
    </div>
    <div class="col-xs-9 col-sm-4 col-md-2 col-lg-3" >
        <input type="text" name="T_DATE" id="T_DATE" class="form-control rounded-lg lbtext" value="@Model.T_DATE" placeholder="dd/mm/yyyy" />
    </div>


    <div class="col-xs-3 col-sm-1 col-md-2 col-lg-2 text-right mg-top-10">
        <label class="ghbFont-color lbtext">ค้นหา&nbsp;</label>
    </div>
    <div class="col-xs-9 col-sm-4 col-md-3 col-lg-2">
        @Html.TextBoxFor(x => x.SEARCH_KEY, new { @class = "form-control lbtext", @style = "width:15rem;", id = "searchInput" })
    </div>
    @*<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left mg-top-10">
        <button id="btnSeach" type="submit" class="btn btn-ghb-primary btn-mg" data-titlereport="@Model.TITLE_REPORT" data-toggle="tooltip" name="cmdButton" title="ค้นหา" value="Search" style="margin-top: 30px; width: 5rem;"> <i class="fa fa-search  fa-color-white"></i>  </button>
    </div>*@
</div>
    <a onclick="history.back()">
        <i class="fa fa-2x fa-chevron-circle-left" aria-hidden="true" style="cursor:pointer;color:orange;"></i>
    </a>
    <hr />

    

    <div class="tableFixHead" style="width: 100%; height: 600px;">
        <table style="font: 300 16px 'Tahoma'; color: black; width: auto; " class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color">ลำดับ</th>
                    <th style="text-align:center;vertical-align:top;" width="80%" class="ghb-background-color">ชื่อรายงาน</th>
                    <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color">PDF Download</th>
                    <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color">EXCEL Download</th>
                    <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color">TEXT Download</th>
                </tr>
            </thead>
            <tbody  id="searchTable">
                @foreach (var item in ViewBag.GroupDetailReport)
                {
                <tr>
                    <td style="text-align: right;">@item.ID</td>
                    <td style="text-align: left;">@item.REPORT_NAME</td>

                    <td style="text-align: center;">
                        <button id="btnLRMPDF" type="submit" class="btn-ghb-pdf-export" data-toggle="tooltip" name="cmdButton" title="Export PDF File"  style="cursor:pointer;"  value="@item.REPORT_NAME|1"></button>
                    </td>

                    <td style="text-align: center;">
                        <button id="btnLRMXLS" type="submit" class="btn-ghb-excel-export" data-toggle="tooltip" name="cmdButton" title="Export Excel File"  style="cursor:pointer;"  value="@item.REPORT_NAME|2"></button>
                    </td>

                    <td style="text-align: center;">
                        <button id="btnLRMTXT" type="submit" class="btn-ghb-text-export" data-toggle="tooltip" name="cmdButton" title="Export Text File"  style="cursor:pointer;"  value="@item.REPORT_NAME|3"></button>
                    </td>
                </tr>
                }

            </tbody>

        </table>

    </div>

    @Html.HiddenFor(x => x.TITLE_REPORT)
    @Html.HiddenFor(x => x.USER_ID)
    @Html.HiddenFor(x => x.BRANCH_ID)
    @Html.HiddenFor(x => x.T_DATE)

}
