@model  GHB_D1.Models.MenuViewModel
@{
    Layout = "~/Views/Shared/_LayoutV3.cshtml";
}
@*@Styles.Render("~/Content/css")*@
@Styles.Render("~/Content/bootstrap.css")
<script src="~/Scripts/jquery-dataTable/jquery.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker-thai/js/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker-thai/js/bootstrap-datepicker-thai.js"></script>
<script src="~/Scripts/bootstrap-datepicker-thai/js/locales/bootstrap-datepicker.th.js"></script>
<style>
    .setPage {
        padding: 95px 0px 0px 118px;
    }

    .formColor {
        background-color: #ffffff;
        border-radius: 12px;
    }

    .labelCss {
        font-size: 16px;
        color: #ff850c;
        font-weight: 400;
        min-width: 20%;
        text-align: end;
    }

    .labelForm {
        font-size: 28px;
        padding: 20px 0px 0px 0px;
        color: #ff850c;
        font-weight: 300;
    }
</style>

<script>
    $().ready(function () {
        $("#FrDate").datepicker({

            language: 'th-th',
            format: "dd-mm-yyyy",
            maxViewMode: 3,
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            showWeek: true,
            showOtherMonths: true,
            todayHighlight: true

        });

        $("#ToDate").datepicker({

            language: 'th-th',
            format: "dd-mm-yyyy",
            maxViewMode: 3,
            daysOfWeekHighlighted: "0,6",
            autoclose: true,
            showWeek: true,
            showOtherMonths: true,
            todayHighlight: true

        });
        SetDatePickerTop(130);

        $("#T_DATE").change(function () {
            let d = $(this).val();
            var b = $("#T_DATE").val();
            $("#displayDate").text(d);
            $("#T_DATE").val(d);
            $("#msg").hide();
        })

        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    })
</script>



@if (Model != null)
{
    using (Html.BeginForm("GenReport", "Home", FormMethod.Post))
    {
        <div class="setPage ">
            <div class="row g-3 formColor">
                <div class="col-md-12" style="border-bottom: 1px solid #e0e0e0;">
                    <div class="col-md-8">
                        <label class="form-label labelForm">Details Report</label>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2 setButton1">
                        &nbsp;
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12">
                    <div class="col-md-6" style="text-align: end; display: flex; justify-content: flex-end; align-items: center; padding: 5px 18px 5px 0px;">
                        <label class="form-label labelCss" style=" margin-right: 7px;">วันนี่เริ่มต้น</label>
                        @*<input type="text" class="form-control" id="departInput" style="width:50%;">*@
                        <div class="input-group date calendar-width ">
                            @Html.TextBox("FrDate", ViewBag.CurrentFr as string, new { @class = "form-control rounded-lg", @placeholder = "dd-mm-yyyy", @indexer = "-1", @style = "margin:0px;border: 1px solid #aaa;width: 204px;", autocomplete = "off" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; align-items: center;">
                        <label class="form-label labelCss" style="margin-right: 5px;">วันที่สิ้นสุด</label>
                        @*<input type="text" class="form-control" id="disInput" style="width:50%;">*@
                        <div class="input-group date calendar-width ">
                            @Html.TextBox("ToDate", ViewBag.CurrentTo as string, new { @class = "form-control rounded-lg", @placeholder = "dd-mm-yyyy", @indexer = "-1", @style = "margin:0px;border: 1px solid #aaa;width: 204px;", autocomplete = "off" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">&nbsp;</div>
                <div style="padding:0px 18px;">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="tableFixHead" style="width: 100%; height: 600px;">
                                <table style="font: 300 16px 'Tahoma'; color: black; width: auto; " class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color">ลำดับ</th>
                                            <th style="text-align:center;vertical-align:top;" width="50%" class="ghb-background-color">ชื่อรายงาน</th>
                                            <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color"> PDF Download </th>
                                            <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color"> EXCEL Download </th>
                                            <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color"> TEXT Download </th>
                                        </tr>
                                    </thead>
                                    <tbody id="searchTable">
                                        @if (Model._groupDetailReportVMList.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="5" style="text-align:center;">ยังไม่ได้กำหนดรายงานสำหรับสาขา โปรดแจ้ง admin</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model._groupDetailReportVMList)
                                            {
                                                var idBtnPDF = "btn_" + @item.REPORT_NAME + "_PDF_" + item.ID;
                                                var idBtnEXCEL = "btn_" + @item.REPORT_NAME + "_EXCEL_" + item.ID;
                                                var idBtnTEXT = "btn_" + @item.REPORT_NAME + "_TEXT_" + item.ID;
                                                <tr>
                                                    <td style="text-align: right;">@item.ID</td>
                                                    <td style="text-align: left;">@item.REPORT_NAME</td>
                                                    <td style="text-align: center;">
                                                        <button id="btnADMPDF" type="submit" class="btn-ghb-pdf-export" data-toggle="tooltip" name="cmdButton" title="Export PDF File" value="@item.REPORT_NAME|1"></button>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <button id="btnADMXLS" type="submit" class="btn-ghb-excel-export" data-toggle="tooltip" name="cmdButton" title="Export Excel File" value="@item.REPORT_NAME|2"></button>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <button id="btnADMTXT" type="submit" class="btn-ghb-text-export" data-toggle="tooltip" name="cmdButton" title="Export Text File" value="@item.REPORT_NAME|3"></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <h2 class="header-topic" style="color: orange; margin-bottom: 0px;"> GHB ALL </h2>
                @{
                    if (Model.BRANCH_NAME != null && Model.BRANCH_NAME != "")
                    {
                        <h5 class="header-topic" style="color: orange; margin-left: 70px; margin-top: 0px;">     REPORTS  - <span style="font-weight: bold;color: black;"> @Model.BRANCH_NAME  </span>   </h5>
                    }
                    else
                    {
                        <h5 class="header-topic" style="color: orange; margin-left: 70px; margin-top: 0px;">     REPORTS </h5>
                    }
                }

            </div>
            @*<div class="col-xs-12 col-sm-12 col-md-2 col-lg-4">
                    <h2 class="header-topic" style="color: orange; margin-bottom: 0px;"> @Model.TITLE_REPORT </h2>
                    <h5 class="header-topic" style="color: orange; margin-left: 70px; margin-top: 0px;">     REPORTS </h5>
                </div>*@
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 text-right mg-top-10">
                <label class="ghbFont-color lbtext">วันที่&nbsp;</label>
            </div>
            <div class="col-xs-9 col-sm-4 col-md-2 col-lg-3">
                <input type="text" name="T_DATE" id="T_DATE" class="form-control rounded-lg lbtext" value="@Model.T_DATE" placeholder="dd/mm/yyyy" />
            </div>

            <div class="col-xs-3 col-sm-1 col-md-2 col-lg-1 text-right mg-top-10">
                <label class="ghbFont-color lbtext">ค้นหา&nbsp;</label>
            </div>
            <div class="col-xs-9 col-sm-4 col-md-3 col-lg-3">
                @Html.TextBoxFor(x => x.SEARCH_KEY, new { @class = "form-control lbtext", @style = "width:15rem;", id = "searchInput", placeholder = "Report name" })
            </div>
            @*<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left mg-top-10">
                    <button id="btnSeach" type="submit" class="btn btn-ghb-primary btn-mg" data-titlereport="@Model.TITLE_REPORT" data-toggle="tooltip" name="cmdButton" title="ค้นหา" value="Search" style="margin-top: 30px; width: 5rem;"> <i class="fa fa-search  fa-color-white"></i>  </button>
                </div>*@
            <div class="from-row" id="displayLoading" style="display:none;">
                <div class="col-12">
                    <div class="loader"></div>
                </div>
            </div>
        </div>

        @*<a onclick="history.back()" title="ย้อนกลับ">
                <i class="fa fa-2x fa-chevron-circle-left" aria-hidden="true" style="cursor:pointer;color:orange;"></i>
            </a>*@


        <hr class="form-row">
        <div class="form-row text-right">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5 text-left mn-link-left">
                <label>  HOME </label>
            </div>
            <div class="col-7 col-sm-7 col-md-7 col-lg-7 mn-link-right">
                <i class="fa fa-filter fa-color-orange"></i>
                <label class="ghbFont-color" style="font-size: smaller;"> <i class="fab fa-mdb"></i>  กรองตาม </label>
                <label id="displayDate">  @Html.DisplayTextFor(x => x.DISPLAY_FILTER) </label>
                <label>  @Html.DisplayTextFor(x => x.SEARCH_KEY)   </label>
            </div>
        </div>

        <div class="navlist-primary">


            <div class="form-row">
                <div class="col-12">
                    <div class="tableFixHead" style="width: 100%; height: 600px;">
                        <table style="font: 300 16px 'Tahoma'; color: black; width: auto; " class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color">ลำดับ</th>
                                    @*<th style="text-align:center;vertical-align:top;" width="30%" class="ghb-background-color">เลขที่ตู้</th>*@
                                    <th style="text-align:center;vertical-align:top;" width="50%" class="ghb-background-color">ชื่อรายงาน</th>
                                    @*<th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color"> PDF Download </th>
                                        <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color"> EXCEL Download </th>*@
                                    @*@if (Model.BRANCH_ID == "001")
                                        {
                                            <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color"> PDF Download </th>
                                        }

                                        @if (Model.BRANCH_ID == "001")
                                        {
                                            <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color"> EXCEL Download </th>
                                        }*@

                                    <th style="text-align:center;vertical-align:top;" width="10%" class="ghb-background-color"> TEXT Download </th>

                                </tr>
                            </thead>
                            <tbody id="searchTable">
                                @if (Model._groupDetailReportVMList.Count == 0)
                                {
                                    <tr>
                                        <td colspan="5" style="text-align:center;">ยังไม่ได้กำหนดรายงานสำหรับสาขา โปรดแจ้ง admin</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model._groupDetailReportVMList)
                                    {
                                        var idBtnPDF = "btn_" + @item.REPORT_NAME + "_PDF_" + item.ID;
                                        var idBtnEXCEL = "btn_" + @item.REPORT_NAME + "_EXCEL_" + item.ID;
                                        var idBtnTEXT = "btn_" + @item.REPORT_NAME + "_TEXT_" + item.ID;
                                        <tr>
                                            <td style="text-align: right;">@item.ID</td>

                                            <td style="text-align: left;">@item.REPORT_NAME</td>
                                            @*<td style="text-align: center;">
                                                    <button id="btnADMPDF" type="submit" class="btn-ghb-pdf-export" data-toggle="tooltip" name="cmdButton" title="Export PDF File" value="@item.REPORT_NAME|1"></button>
                                                </td>
                                                <td style="text-align: center;">
                                                    <button id="btnADMXLS" type="submit" class="btn-ghb-excel-export" data-toggle="tooltip" name="cmdButton" title="Export Excel File" value="@item.REPORT_NAME|2"></button>
                                                </td>*@

                                            @*@if (Model.BRANCH_ID == "001")
                                                {
                                                    <td style="text-align: center;">
                                                        <button id="btnADMPDF" type="submit" class="btn-ghb-pdf-export" data-toggle="tooltip" name="cmdButton" title="Export PDF File" value="@item.REPORT_NAME|1"></button>
                                                    </td>
                                                }

                                                @if (Model.BRANCH_ID == "001")
                                                {
                                                    <td style="text-align: center;">
                                                        <button id="btnADMXLS" type="submit" class="btn-ghb-excel-export" data-toggle="tooltip" name="cmdButton" title="Export Excel File" value="@item.REPORT_NAME|2"></button>
                                                    </td>
                                                }*@

                                            <td style="text-align: center;">
                                                <button id="btnADMTXT" type="submit" class="btn-ghb-text-export" data-toggle="tooltip" name="cmdButton" title="Export Text File" value="@item.REPORT_NAME|3"></button>
                                            </td>
                                        </tr>


                                    }

                                }
                                @*@foreach (var item in Model._groupDetailReportVMList)
                                    {
                                        var idBtnPDF = "btn_" + @item.REPORT_NAME + "_PDF_" + item.ID;
                                        var idBtnEXCEL = "btn_" + @item.REPORT_NAME + "_EXCEL_" + item.ID;
                                        var idBtnTEXT = "btn_" + @item.REPORT_NAME + "_TEXT_" + item.ID;
                                        <tr>
                                            <td style="text-align: right;">@item.ID</td>

                                            <td style="text-align: left;">@item.REPORT_NAME</td>
                                            @if (Model.BRANCH_ID == "001")
                                            {
                                                <td style="text-align: center;">
                                                    <button id="btnADMPDF" type="submit" class="btn-ghb-pdf-export" data-toggle="tooltip" name="cmdButton" title="Export PDF File" value="@item.T_TERM_T_TERM_ID|@item.REPORT_NAME|1"></button>
                                                </td>
                                            }

                                            @if (Model.BRANCH_ID == "001")
                                            {
                                                <td style="text-align: center;">
                                                    <button id="btnADMXLS" type="submit" class="btn-ghb-excel-export" data-toggle="tooltip" name="cmdButton" title="Export Excel File" value="@item.T_TERM_T_TERM_ID|@item.REPORT_NAME|2"></button>
                                                </td>
                                            }

                                            <td style="text-align: center;">
                                                <button id="btnADMTXT" type="submit" class="btn-ghb-text-export" data-toggle="tooltip" name="cmdButton" title="Export Text File" value="@item.T_TERM_T_TERM_ID|@item.REPORT_NAME|3"></button>
                                            </td>
                                        </tr>


                                    }*@
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>



            @Html.HiddenFor(x => x.USER_ID)
            @Html.HiddenFor(x => x.BRANCH_ID)
            @Html.HiddenFor(x => x.T_DATE)

        </div>
    }
}



